extends layout

block content
  h1= 'Edit '+author.first_name+' '+author.last_name
  label First Name
    input(id='update-author-first-name', type='text', value=author.first_name)
  label Last Name
    input(id='update-author-last-name', type='text', value=author.last_name)
  label Portrait Image URL
    input(id='update-author-portrait-url', type='text', value=author.portrait_url)
  label Biography
    textarea(id='update-author-biography')= author.biography
  ul Current Books(s)
    each book in author.books
      li= book
  select(multiple name='book', id='update-author-books')
    option Book
    each book in books
      option(value=book.title)= book.title
  button(id='update-author', value=author.first_name+'~'+author.last_name) Confirm Changes
