extends layout

block content
  h1= 'Edit '+book.title
  label Title
    input(id='update-book-title', type='text', value=book.title)
  label Genre
    input(id='update-book-genre', type='text', value=book.genre)
  label Cover Image URL
    input(id='update-book-cover-url', type='text', value=book.cover_url)
  label Description
    textarea(id='update-book-description')= book.description
  ul Current Author(s)
    each author in book.authors
      li= author.first_name+' '+author.last_name
  select(name='author', id='update-book-authors')
    option Author
    each author in authors
      option(value=author.first_name+'~'+author.last_name)= author.first_name+' '+author.last_name
  button(id='update-book', value=book.title) Confirm Changes
