extends layout

block content
  ul
    if book
      li= book.title
      li= book.genre
      li= book.description
      ul
        each author in book.authors
          li
            a(href='/authors/'+author.first_name + '~' + author.last_name)= author.first_name + ' ' + author.last_name
      form(action='/books/edit/'+book.title)
        input(type='submit', value='Edit '+book.title)
      button(id='delete-book', value=book.title)= 'Delete '+book.title
      img(class='cover_img_large' src= book.cover_url)
